flow.json
[{"id":"223f9f83.0b5bd8","type":"tab","label":"Flow 1"},{"id":"9740e5f5.2f45b8","type":"http in","z":"223f9f83.0b5bd8","name":"","url":"/olli","method":"get","swaggerDoc":"","x":73.44999694824219,"y":181.85000610351562,"wires":[["66ca9eb6.77491"]]},{"id":"66ca9eb6.77491","type":"function","z":"223f9f83.0b5bd8","name":"swap arguments","func":"msg.lang=msg.payload.lang;\nmsg.payload=msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":228.44998168945312,"y":242.01666259765625,"wires":[["a5857265.f3e978"]]},{"id":"a5857265.f3e978","type":"sentiment","z":"223f9f83.0b5bd8","name":"","x":359.4499816894531,"y":173.3000030517578,"wires":[["99f93e2b.a84c98"]]},{"id":"99f93e2b.a84c98","type":"watson-translator","z":"223f9f83.0b5bd8","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":504.4499816894531,"y":243.9666748046875,"wires":[["200bebf2.24ec74"]]},{"id":"200bebf2.24ec74","type":"function","z":"223f9f83.0b5bd8","name":"concantenate response","func":"msg.payload=msg.payload+\";\"+msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":679.4500122070312,"y":178.10000610351562,"wires":[["76849a2d.52dd4c"]]},{"id":"76849a2d.52dd4c","type":"http response","z":"223f9f83.0b5bd8","name":"","x":842.4499816894531,"y":239.7166748046875,"wires":[]}]
